<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -l
  RewriteRule ^ - [L]

  RewriteRule ^(.*)/(.*)/(.*)$ admin.php?action=$1&seccion=$2&id=$3 [QSA,L]
  RewriteRule ^(.*)/(.*)$ admin.php?action=$1&seccion=$2 [QSA,L]
  RewriteRule ^(.*)$ admin.php?action=$1 [QSA,L]

</IfModule>
